---
---
<div class="bachelors-project">
	<p>
		This project was done in collaboration with <a href="https://www.vizrt.com/" target="_blank" rel="noopener noreferrer">Vizrt Bergen</a>. The goal was to create a service that could in the most user-friendly way possible act as an ingest server and restream video in a format (<a href="https://ndi.video/tech/" target="_blank" rel="noopener noreferrer">NDI</a>) which would be compatible with the Vizrt application line-up. Journalists would be able to through their phones/remote access instantiate a stream on Vizrt closed systems and then use any SRT compatible device i.e. smartphone with <a href="https://softvelum.com/larix/" target="_blank" rel="noopener noreferrer">Larix Broadcaster</a> to low latency stream video. The video stream would then be available within seconds on the Vizrt system and ready to be used in either their live or pre-recorded production pipelines.
	</p>
	<p>
		The GitHub repository is private but I have a copy of the readme <a href="https://github.com/NickMarcha/NickMarchaPortfolio/blob/main/client/public/docs/bachelor.md" target="_blank" rel="noopener noreferrer">here</a>. Additionally the Postman backend API documentation is available <a href="https://documenter.getpostman.com/view/10136250/TzRNDV4f" target="_blank" rel="noopener noreferrer">here</a>.
	</p>
	<p>
		<a href="https://github.com/NickMarcha/NickMarchaPortfolio/blob/main/client/public/docs/Bachelorpresentasjon.pdf" target="_blank" rel="noopener noreferrer">Norwegian Bachelor Slides</a>
	</p>
</div>
