---
---
<div class="badlands-rp">
	<p>
		I used to play on this RP game server and made some tools for it. I have 3 of them listed and explained in <a href="https://github.com/NickMarcha/BL-SmallProjects" target="_blank" rel="noopener noreferrer">this GitHub Repository</a>. They all involve the Google Spreadsheet API and were hosted on <a href="https://x.com/keithwhor/status/1775551821286965290" target="_blank" rel="noopener noreferrer">Autocode</a>.
	</p>
</div>
