---
---
<div class="game-jams">
	<p>
		I've participated in various game development events including Global Game Jam and
		Ludum Dare, creating games from concept to playable prototype within tight time constraints.
	</p>
	<p>
		These jams have been a great way to experiment with game design, learn new tools,
		and collaborate with other developers.
	</p>
</div>
