---
---
<div class="inky-pen">
	<p>
		I work as a Fullstack Developer at <a href="https://inky-pen.com" target="_blank" rel="noopener noreferrer">InkyPen AS</a>,
		a company focused on digital comics and reading experiences.
	</p>
	<p>
		InkyPen is available on multiple platforms including Steam. My role involves building
		and maintaining the web and application infrastructure that powers the InkyPen experience.
	</p>
</div>
