---
---
<div class="school-assignments">
	<p>
		This is just a very incomplete list of school assignments I've done. I'll add more as I go through my old files.
	</p>
	<ul>
		<li>
			Software Technology Java/TS/JS/HTML: <a href="https://github.com/NickMarcha/dat250SoTeEx2022" target="_blank" rel="noopener noreferrer">Semester Repo</a>
		</li>
		<li>
			WebGl: <a href="https://nickmarcha.github.io/Dat155_Exercise2/robotArm.html" target="_blank" rel="noopener noreferrer">Robot Arm</a>, <a href="https://nickmarcha.github.io/Dat155_Exercise2/sphereTest.html" target="_blank" rel="noopener noreferrer">Sphere Test</a>, <a href="https://nickmarcha.github.io/Dat155_Exercise2/cylinderTest.html" target="_blank" rel="noopener noreferrer">Cylinder Test</a>, <a href="https://nickmarcha.github.io/Dat155_Exercise5/" target="_blank" rel="noopener noreferrer">Solar System</a>, <a href="https://nickmarcha.github.io/Dat155_Exercise5/dat155-game-project/" target="_blank" rel="noopener noreferrer">Endless Runner</a>, <a href="https://nickmarcha.github.io/Dat155_Exercise4/oppg2b.html" target="_blank" rel="noopener noreferrer">Rotating Shapes</a>
		</li>
		<li>
			Java: <a href="https://github.com/NickMarcha/Dat250Oblig1" target="_blank" rel="noopener noreferrer">IoT Voting System</a>
		</li>
		<li>
			Haskell: <a href="https://github.com/NickMarcha/INF222-Assignment7-Spring-2022" target="_blank" rel="noopener noreferrer">Haskell Assignment</a>
		</li>
		<li>
			Dat250-Feedapp: The GitHub repository is private but I have a copy of the readme <a href="https://github.com/NickMarcha/NickMarchaPortfolio/blob/main/client/public/docs/dat250-feedapp.md" target="_blank" rel="noopener noreferrer">here</a>
		</li>
	</ul>
</div>
